<div class="row">
  <mat-toolbar>
      <button title="Menú" mat-icon-button class="example-icon">
          <mat-icon>menu</mat-icon>
      </button>
      <span>Proyecto</span>
      <span class="example-spacer"></span>
 <button title="Cerrar Sesión" class="example-spacer" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="close()">
          <mat-icon>close</mat-icon>
      </button>
     
   
  </mat-toolbar>
</div>
<router-outlet></router-outlet>